# ğŸ’»IDS507 | Lab01
<font size=5><b>Python introduction<b></font>
<div align='right'>TA: ë¥˜ íšŒ ì„±(Hoe Sung Ryu)</div>

## Concepts | ì˜¤ëŠ˜ ë°°ìš¸ ê°œë…
---
- ì½”ë© ì‚¬ìš©ë²•ì„ ìµíŒë‹¤. 
- íŒŒì´ì¬ ê¸°ë³¸ ë¬¸ë²•ì„ ìµíŒë‹¤.
  1. ë³€ìˆ˜
  1. ë¬¸ìì—´
  1. ìˆ˜ì¹˜í˜•
  1. ë…¼ë¦¬í˜•
  1. ë¦¬ìŠ¤íŠ¸, ë”•ì…”ë„ˆë¦¬
  1. ì¡°ê±´ë¬¸ê³¼ ë°˜ë³µë¬¸
  1. í•¨ìˆ˜
- ì—¬ëŸ¬ê°€ì§€ í˜•íƒœì˜ ë°ì´í„°ë¥¼ ë¶ˆëŸ¬ì˜¬ ìˆ˜ ìˆë‹¤.
  1. txt
  1. csv
  1. json
  1. xlsx

In [ ]:
print('Hello World!')

Hello World!

In [26]:
!pip list | grep pandas

pandas                        1.3.5
pandas-datareader             0.9.0
pandas-gbq                    0.13.3
pandas-profiling              1.4.1
sklearn-pandas                1.8.0

In [ ]:
!pip install pandas

## ğŸ“Œ1. íŒŒì´ì¬ ê¸°ë³¸ë¬¸ë²•

### 1) ë³€ìˆ˜ 

- í• ë‹¹ê³¼ ë™ì‹œì— í˜•íƒœê°€ ì •í•´ì§

<img src='https://t1.daumcdn.net/cfile/tistory/221A3E3E58E49E303A'>

In [19]:
x = 10 
print(x)
print(type(x))

10
<class 'int'>

In [ ]:
Variable = '1'

In [ ]:
1_variable = '1'

In [ ]:
# `He's drinking coeffee`ë¥¼ ì¶œë ¥í•´ë³´ê¸°

### 2) ë¬¸ìì—´ 

<img src='https://media.vlpt.us/images/joygoround/post/f70317e0-ab63-4b2d-9b54-dab83fa2c759/image.png'>

In [18]:
x = '10'
print(x)
print(type(x))

10
<class 'str'>

In [4]:
# f-string
print(f'x ëŠ” {x} ì…ë‹ˆë‹¤')

x ëŠ” 10 ì…ë‹ˆë‹¤

In [9]:
print('ë¥˜íšŒì„± ')

ë¥˜íšŒì„±

In [10]:
print('ë¥˜íšŒì„±'.rstrip())

ë¥˜íšŒì„±

### 3) ìˆ˜ì¹˜í˜•

In [8]:
print(10 + 10) 
print(10 * 10) 
print(10 / 10) 
print(10 ** 2) 
print(10 % 2) # ë‚˜ë¨¸ì§€ 
print(10 //2 ) # ëª«

20
100
1.0
100
0
5

### 4) ë…¼ë¦¬í˜• 

<img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTI8yvpT-gQ4kFuqP2j-OBJWbU31Kj1rHjPFA&usqp=CAU' width = 80%>

In [15]:
print(False and True)
print(True and True)
print(True and False)
print(False and False)

False
True
False
False

### 5) ë¦¬ìŠ¤íŠ¸ & ë”•ì…”ë„ˆë¦¬ 

#### 1) ë¦¬ìŠ¤íŠ¸ 
<img src='https://cdn.programiz.com/sites/tutorial2program/files/python-list-index.png' width=70%>

In [28]:
my_list = ['p','r','o','b','e']
my_list

my_list = list('probe')
my_list

['p', 'r', 'o', 'b', 'e']

<img src='https://t1.daumcdn.net/cfile/tistory/99A6FD33599C471A20'>

In [29]:
print(len(my_list))

5

### 2) ë”•ì…”ë„ˆë¦¬

<img src='https://programmathically.com/wp-content/uploads/2021/05/dictionary-1024x554.png' width=70%>

In [ ]:
my_dict = {'a': 1, "b": 2}
print(my_dict.keys())
print(my_dict.values())
print(my_dict['a'])

### 6) ì¡°ê±´ë¬¸ê³¼ ë°˜ë³µë¬¸

#### 1) ì¡°ê±´ë¬¸

In [ ]:
my_value = float(input())
if my_value >= 10:
  print('10ë³´ë‹¤ í¬ê±°ë‚˜ ê°™ë‹¤')
else:
  print('10ë³´ë‹¤ ì‘ë‹¤')

10
10ë³´ë‹¤ í¬ê±°ë‚˜ ê°™ë‹¤

In [ ]:
my_value = float(input())
if my_value >= 10:
  print('10ë³´ë‹¤ í¬ê±°ë‚˜ ê°™ë‹¤')
elif 5<= my_value < 10:
  print('5ë³´ë‹¤ í¬ê±°ë‚˜ 10ë³´ë‹¤ì‘ë‹¤')
else:
  print('5ë³´ë‹¤ ì‘ë‹¤')

6
5ë³´ë‹¤ í¬ê±°ë‚˜ 10ë³´ë‹¤ì‘ë‹¤

#### 2) ë°˜ë³µë¬¸

In [16]:
for i in [1,2,3,4,5]:
  print(i)

1
2
3
4
5

### 7) í•¨ìˆ˜

In [ ]:
# ëª« ê³¼ ë‚˜ë¨¸ì§€

## ğŸ“Œ2.ë“œë¼ì´ë¸Œ ì—°ë™

In [ ]:
from google.colab import drive # ë“œë¼ì´ë¸Œ ì—°ë™
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
!pwd

/content/gdrive/My Drive/IDS507-00

In [ ]:
import os
os.chdir('/content/gdrive/My Drive/IDS507-00/') # DataPath ì„¤ì •

In [ ]:
!pwd

/content/gdrive/My Drive/IDS507-00

## ğŸ“Œ3. ì—¬ëŸ¬ê°€ì§€ í˜•íƒœì˜ ë°ì´í„°

In [ ]:
# ë°ì´í„° ê°€ì ¸ì˜¤ê¸°

In [ ]:
# .Txt file ì¼ê¸° 

txt_file_path = './2022_IDS507_Lab/data/CourseDescription.txt'

with open(txt_file_path,'r', encoding='utf-8') as f:
    lines = f.readlines()

for line in lines:
    print(line)

IDS507-00

Course Description

ê¸°ë³¸ì ì¸ ë°ì´í„°ê³¼í•™ì  ì‚¬ê³ ê´€ ì—†ì´ëŠ” ì‚´ì•„ë‚¨ê¸° ì–´ë ¤ìš´ ì„¸ìƒ,

ìš°ë¦¬ì—ê²Œ í•„ìš”í•œ â€˜ì§„ì§œâ€™ ì •ë³´ë¥¼ ìŠµë“í•˜ê³  â€˜ê°ê´€ì ì¸â€™ ì˜ì‚¬ê²°ì •ì„ ìœ„í•œ ë°ì´í„°ê³¼í•™ì´ ëª¨ë‘ì—ê²Œ í•„ìš”í•˜ë‹¤.

 ë°ì´í„° ê³¼í•™ì€ ë‹¨ìˆœ í†µê³„ì§€ì‹ê³¼ í”„ë¡œê·¸ë˜ë°ì˜ ì ‘ëª©ì¸ ì¼ì¢…ì˜ <ê¸°ìˆ >ì´ ì•„ë‹ˆë¼,

ì„¸ìƒì„ ì‚´ì•„ê°€ë©´ì„œ ë§Œë‚  ìˆ˜ë§ì€ ë¬¸ì œë“¤ì„ í•©ë¦¬ì ìœ¼ë¡œ í—¤ì³ë‚˜ê°ˆ <ìˆ˜ë‹¨>ê³¼ ê°™ì€ í•„ìˆ˜ìš”ì†Œì´ë‹¤.

ë³¸ ìˆ˜ì—…ì—ì„œëŠ” ë¶„ì•¼ë¥¼ ë§‰ë¡ í•˜ê³  ë²”ëŒí•˜ëŠ” ë°©ëŒ€í•œ ì–‘ì˜ ë°ì´í„° ì²˜ë¦¬, ë¶„ì„, ì‹œê°í™”ì™€ ì†Œí†µì„ í•˜ê¸° ìœ„í•œ ì´ë¡ ì„ í•™ìŠµí•˜ê³ ,

 ì‹¤ì œ ë°ì´í„°ê¸°ë°˜ ì˜ˆì¸¡ëª¨ë¸ì„ êµ¬ì¶•í•˜ëŠ” Python programming ì‹¤ìŠµì„ ì§„í–‰í•˜ë©°,

ë¹„íŒì ì¸ ë°ì´í„°ê³¼í•™ì  ì‚¬ê³ ë¥¼ í•¨ì–‘í•˜ê¸° ìœ„í•œ ë‹¤ì–‘í•œ ì‚¬ë¡€ë“¤ì„ íƒêµ¬í•œë‹¤.

2022ë…„ ì´ˆ í˜„ì¬ ì „ì²´ ì˜¨ë¼ì¸ ìˆ˜ì—…ìœ¼ë¡œ ê¸°íšë˜ì–´ ìˆì§€ë§Œ, ì¶”í›„ ì˜¨/ì˜¤í”„ë¼ì¸ ì „í™˜ë„ ê°€ëŠ¥í•˜ë‹¤.

In [ ]:
# txt ì €ì¥ 
savename_txt = './2022_IDS507_Lab/data/sample_path.txt'
with open(savename_txt, "w") as f:
    f.write('ìƒ˜í”Œì…ë‹ˆë‹¤.')

In [ ]:
# txt ì €ì¥ 
# savename_txt = './2022_IDS507_Lab/data/sample_path.txt'
with open(savename_txt, "a") as f:
    f.write('\nìƒ˜í”Œì…ë‹ˆë‹¤.22')

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
import csv

filename = './2022_IDS507_Lab/data/sea_line.csv'
with open(filename,'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['\ufeff"í•´ì—­"', 'ì—°ì•ˆì •ì ', 'ê´€ì¸¡ì¼ì‹œ', 'ìˆ˜ì˜¨', 'ìˆ˜ì˜¨ QC Flag', 'ê¸°ì˜¨', 'ê¸°ì˜¨ QC', 'ìš´ëŸ‰', 'ì²œê¸°']
['ë™í•´', 'ê¸°ì¥(12201)', '20190605', '15.4', '2', '24.4', '2', '1%-10%', '']
['ë™í•´', 'ê¸°ì¥(12201)', '20190606', '15.4', '2', '', '2', '', '']
['ë™í•´', 'ê¸°ì¥(12201)', '20190607', '17.4', '2', '19.2', '2', '91%-100%', 'ë¹„']
['ë™í•´', 'ê¸°ì¥(12201)', '20190608', '17.5', '2', '', '2', '', '']
['ë™í•´', 'ê¸°ì¥(12201)', '20190609', '17.6', '2', '', '2', '', '']
['ë™í•´', 'ê¸°ì¥(12201)', '20190610', '18.1', '2', '20.9', '2', '41%-50%', '']
['ë™í•´', 'ê¸°ì¥(12201)', '20190611', '19', '2', '19.8', '2', '41%-50%', 'ê°œì„(ìš´ëŸ‰:3-7)']
['ë‚¨í•´', 'ì‚°ì–‘(20501)', '20190613', '21', '2', '', '2', '', '']
['ë‚¨í•´', 'ì‚°ì–‘(20501)', '20190614', '20.5', '2', '', '2', '', '']
['ë‚¨í•´', 'ì‚°ì–‘(20501)', '20190618', '20.7', '2', '', '2', '', '']
['ë‚¨í•´', 'ì‚°ì–‘(20501)', '20190619', '20.8', '2', '', '2', '', '']
['ë‚¨í•´', 'ì‚°ì–‘(20501)', '20190628', '21.5', '2', '', '2', '', '']
['ë‚¨í•´', 'ì‚°ì–‘(20501)', '20190702', '22.4', '2', '', '2', '', '']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190605', '19.7', '2', '18.7', '2', '31%-40%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190607', '19', '2', '18.8', '2', '21%-30%', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190610', '18.3', '2', '19.5', '2', '81%-90%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190611', '18.5', '2', '19.7', '2', 'Zero', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190612', '18.8', '2', '20.3', '2', 'Zero', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190613', '19.4', '2', '19.8', '2', 'Zero', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190614', '19.5', '2', '20.1', '2', '31%-40%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190617', '21.6', '2', '20.1', '2', '1%-10%', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190618', '19.9', '2', '20.7', '2', '91%-100%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190619', '21.2', '2', '21.7', '2', '11%-20%', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190620', '21.6', '2', '22.4', '2', '11%-20%', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190621', '22.3', '2', '20.9', '2', '71%-80%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190624', '20.8', '2', '23.8', '2', 'Zero', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190625', '20.9', '2', '19.7', '2', '', 'ì•ˆê°œ(Fog)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190626', '20.5', '2', '22', '2', '91%-100%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190627', '20.9', '2', '23.4', '2', '31%-40%', 'ê°œì„(ìš´ëŸ‰:3-7)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190628', '21', '2', '23', '2', '81%-90%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190701', '22.7', '2', '22.5', '2', '11%-20%', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190702', '23.1', '2', '22.5', '2', 'Zero', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ì„œí•´', 'ìš©ìœ ë„(31302)', '20190703', '21.9', '2', '20.9', '2', '91%-100%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190605', '14.8', '2', '19.5', '2', '61%-70%', 'ê°œì„(ìš´ëŸ‰:3-7)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190606', '', '2', '18.7', '2', '91%-100%', 'ì•ˆê°œ(Fog)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190607', '15.9', '2', '15.9', '2', '91%-100%', 'ì´ìŠ¬ë¹„']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190608', '15.6', '2', '19.6', '2', '51%-60%', 'ê°œì„(ìš´ëŸ‰:3-7)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190609', '', '2', '17.6', '2', '91%-100%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190610', '12.5', '2', '16.7', '2', '71%-80%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190611', '15.8', '2', '16', '2', '91%-100%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190612', '17.1', '2', '18', '2', 'Zero', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190613', '15.8', '2', '22.4', '2', 'Zero', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190614', '15.9', '2', '24.8', '2', '91%-100%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190615', '16.8', '2', '19.9', '2', '71%-80%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190616', '', '2', '17.1', '2', '91%-100%', 'ì´ìŠ¬ë¹„']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190617', '17.4', '2', '20.6', '2', 'Zero', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190618', '17.9', '2', '22.7', '2', '91%-100%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190619', '18.8', '2', '25.9', '2', '21%-30%', 'ê°œì„(ìš´ëŸ‰:3-7)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190620', '20.1', '2', '25.3', '2', '31%-40%', 'ê°œì„(ìš´ëŸ‰:3-7)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190621', '19.1', '2', '21.6', '2', '91%-100%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190622', '20.8', '2', '20.9', '2', '1%-10%', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190623', '', '2', '20.4', '2', '21%-30%', 'ê°œì„(ìš´ëŸ‰:3-7)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190624', '21.4', '2', '21.9', '2', '1%-10%', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190625', '18.4', '2', '22.5', '2', 'Zero', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190626', '16.4', '2', '24.9', '2', '51%-60%', 'ê°œì„(ìš´ëŸ‰:3-7)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190627', '17.1', '2', '23.2', '2', '51%-60%', 'ê°œì„(ìš´ëŸ‰:3-7)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190628', '20.8', '2', '20.4', '2', '91%-100%', 'ì´ìŠ¬ë¹„']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190629', '20.9', '2', '20.5', '2', '91%-100%', 'ì´ìŠ¬ë¹„']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190630', '', '2', '25.4', '2', '81%-90%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190701', '21.2', '2', '23.3', '2', '71%-80%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190702', '20.8', '2', '26.5', '2', '1%-10%', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190703', '21.9', '2', '28.7', '2', '21%-30%', 'ê°œì„(ìš´ëŸ‰:3-7)']
['ë™í•´', 'ì£¼ë¬¸ì§„(11002)', '20190704', '20.9', '2', '27.8', '2', 'Zero', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ë™í•´', 'í¬í•­(11701)', '20190605', '13.1', '2', '23.5', '2', 'Zero', '']
['ë™í•´', 'í¬í•­(11701)', '20190607', '15.8', '2', '17.8', '2', '91%-100%', '']
['ë™í•´', 'í¬í•­(11701)', '20190610', '15.5', '2', '19.4', '2', '71%-80%', '']
['ë™í•´', 'í¬í•­(11701)', '20190611', '16.8', '2', '18.6', '2', '71%-80%', '']
['ë™í•´', 'í¬í•­(11701)', '20190612', '18.1', '2', '19.5', '2', '61%-70%', '']
['ë™í•´', 'í¬í•­(11701)', '20190613', '18.8', '2', '21.8', '2', 'Zero', '']
['ë™í•´', 'í¬í•­(11701)', '20190614', '19.1', '2', '21.2', '2', '91%-100%', '']
['ë™í•´', 'í¬í•­(11701)', '20190617', '20.1', '2', '22.9', '2', '81%-90%', '']
['ë™í•´', 'í¬í•­(11701)', '20190618', '20.3', '2', '24', '2', '91%-100%', '']
['ë™í•´', 'í¬í•­(11701)', '20190619', '20.5', '2', '26.1', '2', '71%-80%', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ë™í•´', 'í¬í•­(11701)', '20190620', '21', '2', '27.1', '2', 'Zero', '']
['ë™í•´', 'í¬í•­(11701)', '20190621', '21.8', '2', '25.6', '2', '11%-20%', '']
['ë™í•´', 'í¬í•­(11701)', '20190624', '22.8', '2', '23', '2', '11%-20%', '']
['ë™í•´', 'í¬í•­(11701)', '20190625', '23.1', '2', '24.5', '2', 'Zero', '']
['ë™í•´', 'í¬í•­(11701)', '20190626', '22.6', '2', '23.4', '2', '91%-100%', '']
['ë™í•´', 'í¬í•­(11701)', '20190627', '21.5', '2', '23.9', '2', '91%-100%', '']
['ë™í•´', 'í¬í•­(11701)', '20190628', '22.6', '2', '21.2', '2', '91%-100%', '']
['ë™í•´', 'í¬í•­(11701)', '20190701', '21.8', '2', '25.3', '2', '81%-90%', '']
['ë™í•´', 'í¬í•­(11701)', '20190702', '21.7', '2', '26.7', '2', '51%-60%', '']
['ë™í•´', 'í¬í•­(11701)', '20190703', '21.5', '2', '26.4', '2', '71%-80%', '']
['ë™í•´', 'í¬í•­(11701)', '20190704', '21.8', '2', '28.4', '2', 'Zero', '']
['ë‚¨í•´', 'í™”ì–‘(22001)', '20190605', '20.1', '2', '24.4', '2', 'Zero', 'ì¾Œì²­(ìš´ëŸ‰:0-2)']
['ë‚¨í•´', 'í™”ì–‘(22001)', '20190607', '20.6', '2', '20', '2', '91%-100%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë‚¨í•´', 'í™”ì–‘(22001)', '20190610', '20.4', '2', '19.8', '2', '91%-100%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë‚¨í•´', 'í™”ì–‘(22001)', '20190611', '20.1', '2', '19.3', '2', '91%-100%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë‚¨í•´', 'í™”ì–‘(22001)', '20190612', '20.9', '2', '20.6', '2', '21%-30%', 'ê°œì„(ìš´ëŸ‰:3-7)']
['ë‚¨í•´', 'í™”ì–‘(22001)', '20190613', '20.9', '2', '20.3', '2', '71%-80%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë‚¨í•´', 'í™”ì–‘(22001)', '20190626', '21.9', '2', '18.5', '2', '81%-90%', 'ë¹„']
['ë‚¨í•´', 'í™”ì–‘(22001)', '20190627', '22.5', '2', '22.4', '2', '91%-100%', 'ì•ˆê°œ(Fog)']
['ë‚¨í•´', 'í™”ì–‘(22001)', '20190628', '23.6', '2', '24.2', '2', '21%-30%', 'ê°œì„(ìš´ëŸ‰:3-7)']
['ë‚¨í•´', 'í™”ì–‘(22001)', '20190701', '22.8', '2', '24.5', '2', '21%-30%', 'ê°œì„(ìš´ëŸ‰:3-7)']
['ë‚¨í•´', 'í™”ì–‘(22001)', '20190702', '23.4', '2', '25.4', '2', '71%-80%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë‚¨í•´', 'í™”ì–‘(22001)', '20190703', '22.3', '2', '24.4', '2', '91%-100%', 'íë¦¼(ìš´ëŸ‰:8-10)']
['ë‚¨í•´', 'í™”ì–‘(22001)', '20190704', '23.1', '2', '26.7', '2', '21%-30%', 'ê°œì„(ìš´ëŸ‰:3-7)']

In [ ]:
import pandas as pd

df = pd.read_csv(filename)
df

,í•´ì—­,ì—°ì•ˆì •ì,ê´€ì¸¡ì¼ì‹œ,ìˆ˜ì˜¨,ìˆ˜ì˜¨ QC Flag,ê¸°ì˜¨,ê¸°ì˜¨ QC,ìš´ëŸ‰,ì²œê¸°
0,ë™í•´,ê¸°ì¥(12201),20190605,15.4,2,24.4,2,1%-10%,NaN
1,ë™í•´,ê¸°ì¥(12201),20190606,15.4,2,NaN,2,NaN,NaN
2,ë™í•´,ê¸°ì¥(12201),20190607,17.4,2,19.2,2,91%-100%,ë¹„
3,ë™í•´,ê¸°ì¥(12201),20190608,17.5,2,NaN,2,NaN,NaN
4,ë™í•´,ê¸°ì¥(12201),20190609,17.6,2,NaN,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...
92,ë‚¨í•´,í™”ì–‘(22001),20190628,23.6,2,24.2,2,21%-30%,ê°œì„(ìš´ëŸ‰:3-7)
93,ë‚¨í•´,í™”ì–‘(22001),20190701,22.8,2,24.5,2,21%-30%,ê°œì„(ìš´ëŸ‰:3-7)
94,ë‚¨í•´,í™”ì–‘(22001),20190702,23.4,2,25.4,2,71%-80%,íë¦¼(ìš´ëŸ‰:8-10)
95,ë‚¨í•´,í™”ì–‘(22001),20190703,22.3,2,24.4,2,91%-100%,íë¦¼(ìš´ëŸ‰:8-10)
96,ë‚¨í•´,í™”ì–‘(22001),20190704,23.1,2,26.7,2,21%-30%,ê°œì„(ìš´ëŸ‰:3-7)

In [ ]:
import pandas as pd 

df_excel = pd.read_excel('./2022_IDS507_Lab/data/udong_2015.xlsx')

In [ ]:
df_excel

,ìœ ë™ì¸êµ¬_ì¡°ì‚¬ì§€ì ì •ë³´_2015,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,ì¡°ì‚¬ì§€ì ì½”ë“œ,ì¡°ì‚¬ì§€ì ëª…,êµ¬ì½”ë“œ,ë™ì½”ë“œ,ì£¼ë²ˆì§€,ë¶€ë²ˆì§€,ë„ë¡œëª…,ë³´ë„ë„ˆë¹„,ì°¨ì„ ìˆ˜,ë²„ìŠ¤ì°¨ë¡œìœ ë¬´,...,ì§€êµ¬ì¤‘ì‹¬ìƒì„¸ë‚´ìš©,ë„ì‹¬ë¶€ë„ì‹¬ì§€ì—­ëª…,ìš©ë„êµ¬ë¶„,ê±°ì£¼ìœ í˜•êµ¬ë¶„,ì…ì§€ìœ í˜•ëª…,Xì¢Œí‘œ,Yì¢Œí‘œ,ì§‘ê³„êµ¬ì½”ë“œ,ë…„ë„,ì¡°ì‚¬êµ¬ë¶„
2,EXAMIN_SPOT_CD,EXAMIN_SPOT_NM,GU_CD,DONG_CD,BUNJI,BUBUN,ROAD_NM,FTPTH_BT,TFCLNE,BUS_CARTRK_ENNC_SE,...,DSTRC_CENTER_DETAIL,CDCT_SUB_CDCT_AREA_NM,PRPOS_NM,RESIDE_TY_SE,LCT_TY_NM,XCRD_LC,YCRD_LC,SM_GU_CD,YEAR,EXAMIN_CLS
3,01-003,ì‹ í¥ëª¨í”¼ëª…í’ˆì „ë¬¸í¬ë¦¬ë‹.,11010,1101055,127,11,NaN,3,8,ìœ,...,NaN,NaN,2ì¢…ì£¼ê±°,NaN,NaN,196423.97707,455511.52968,1101055010007,2015,ë³¸ì¡°ì‚¬
4,01-004,GS25,11010,1101055,94,2,ì„¸ê²€ì •ë¡œ 230,3,7,ìœ,...,NaN,NaN,2ì¢…ì£¼ê±°,NaN,NaN,196315.80243,455621.38262,1101055020005,2015,ë³¸ì¡°ì‚¬
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498,40-020,ì›ì„œê³µì› ì…êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,ë¶ì´Œ
1499,40-021,ì»¤í”¼ Biwon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,ë¶ì´Œ
1500,40-022,ìš©ìˆ˜ì‚° ë¹„ì›ì,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,ë¶ì´Œ
1501,40-023,í•œì •ì‹ ì¥ì›,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,ë¶ì´Œ
1502,40-024,ë¯¿ìŒ ë¯¸ìš©ì‹¤,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,ë¶ì´Œ

In [ ]:
df_excel = pd.read_excel('./2022_IDS507_Lab/data/udong_2015.xlsx',
                         skiprows=[0,1])

In [ ]:
df_excel

,ì¡°ì‚¬ì§€ì ì½”ë“œ,ì¡°ì‚¬ì§€ì ëª…,êµ¬ì½”ë“œ,ë™ì½”ë“œ,ì£¼ë²ˆì§€,ë¶€ë²ˆì§€,ë„ë¡œëª…,ë³´ë„ë„ˆë¹„,ì°¨ì„ ìˆ˜,ë²„ìŠ¤ì°¨ë¡œìœ ë¬´,...,ì§€êµ¬ì¤‘ì‹¬ìƒì„¸ë‚´ìš©,ë„ì‹¬ë¶€ë„ì‹¬ì§€ì—­ëª…,ìš©ë„êµ¬ë¶„,ê±°ì£¼ìœ í˜•êµ¬ë¶„,ì…ì§€ìœ í˜•ëª…,Xì¢Œí‘œ,Yì¢Œí‘œ,ì§‘ê³„êµ¬ì½”ë“œ,ë…„ë„,ì¡°ì‚¬êµ¬ë¶„
0,EXAMIN_SPOT_CD,EXAMIN_SPOT_NM,GU_CD,DONG_CD,BUNJI,BUBUN,ROAD_NM,FTPTH_BT,TFCLNE,BUS_CARTRK_ENNC_SE,...,DSTRC_CENTER_DETAIL,CDCT_SUB_CDCT_AREA_NM,PRPOS_NM,RESIDE_TY_SE,LCT_TY_NM,XCRD_LC,YCRD_LC,SM_GU_CD,YEAR,EXAMIN_CLS
1,01-003,ì‹ í¥ëª¨í”¼ëª…í’ˆì „ë¬¸í¬ë¦¬ë‹.,11010,1101055,127,11,NaN,3,8,ìœ,...,NaN,NaN,2ì¢…ì£¼ê±°,NaN,NaN,196423.97707,455511.52968,1101055010007,2015,ë³¸ì¡°ì‚¬
2,01-004,GS25,11010,1101055,94,2,ì„¸ê²€ì •ë¡œ 230,3,7,ìœ,...,NaN,NaN,2ì¢…ì£¼ê±°,NaN,NaN,196315.80243,455621.38262,1101055020005,2015,ë³¸ì¡°ì‚¬
3,01-005,ì„¸ê²€ì •ì •ë¥˜ì¥,11010,1101055,92,0,ì„¸ê²€ì •ê¸¸,4,5,ìœ,...,NaN,NaN,1ì¢…ì£¼ê±°,NaN,NaN,196357.17125,455680.8258,1101055010002,2015,ë³¸ì¡°ì‚¬
4,01-008,ì•ˆì„±íƒ€ì›Œå…§ êµ¿ëª¨ë‹íŒŒì›Œê³µì¸ì¤‘ê°œì‚¬.,11010,1101056,72,72,NaN,4,4,ìœ,...,NaN,NaN,2ì¢…ì£¼ê±°,NaN,NaN,197904.19277,456718.34996,1101056030002,2015,ë³¸ì¡°ì‚¬
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1496,40-020,ì›ì„œê³µì› ì…êµ¬,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,ë¶ì´Œ
1497,40-021,ì»¤í”¼ Biwon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,ë¶ì´Œ
1498,40-022,ìš©ìˆ˜ì‚° ë¹„ì›ì,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,ë¶ì´Œ
1499,40-023,í•œì •ì‹ ì¥ì›,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,ë¶ì´Œ
1500,40-024,ë¯¿ìŒ ë¯¸ìš©ì‹¤,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,ë¶ì´Œ

In [21]:
# Make a get request to get the latest position of the international space station from the opennotify api.

import requests
import pandas as pd

response = requests.get("http://api.open-notify.org/astros.json") # request to get 
info= response.json() # info json 

people=info['people']
print(people)

[{'craft': 'ISS', 'name': 'Mark Vande Hei'}, {'craft': 'ISS', 'name': 'Pyotr Dubrov'}, {'craft': 'ISS', 'name': 'Anton Shkaplerov'}, {'craft': 'Shenzhou 13', 'name': 'Zhai Zhigang'}, {'craft': 'Shenzhou 13', 'name': 'Wang Yaping'}, {'craft': 'Shenzhou 13', 'name': 'Ye Guangfu'}, {'craft': 'ISS', 'name': 'Raja Chari'}, {'craft': 'ISS', 'name': 'Tom Marshburn'}, {'craft': 'ISS', 'name': 'Kayla Barron'}, {'craft': 'ISS', 'name': 'Matthias Maurer'}]

In [22]:
df=pd.DataFrame(people)
df

         craft              name
0          ISS    Mark Vande Hei
1          ISS      Pyotr Dubrov
2          ISS  Anton Shkaplerov
3  Shenzhou 13      Zhai Zhigang
4  Shenzhou 13       Wang Yaping
5  Shenzhou 13        Ye Guangfu
6          ISS        Raja Chari
7          ISS     Tom Marshburn
8          ISS      Kayla Barron
9          ISS   Matthias Maurer

In [24]:
info.keys()

dict_keys(['people', 'message', 'number'])