# 💻IDS507 | Lab01
<font size=5><b>Python introduction<b></font>
<div align='right'>TA: 류 회 성(Hoe Sung Ryu)</div>

## Concepts | 오늘 배울 개념
---
- 코랩 사용법을 익힌다. 
- 여러가지 형태의 데이터를 불러올 수 있다.
  1. txt
  1. csv
  1. json
  1. xlsx

In [ ]:
print('Hello World!')

Hello World!

In [ ]:
!pip list | grep pandas

pandas                        1.3.5
pandas-datareader             0.9.0
pandas-gbq                    0.13.3
pandas-profiling              1.4.1
sklearn-pandas                1.8.0

In [ ]:
!pip install pandas

## 📌1.드라이브 연동

In [ ]:
from google.colab import drive # 드라이브 연동
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
!pwd

/content/gdrive/My Drive/IDS507-00

In [ ]:
import os
os.chdir('/content/gdrive/My Drive/IDS507-00/') # DataPath 설정

In [ ]:
!pwd

/content/gdrive/My Drive/IDS507-00

## 📌2. 여러가지 형태의 데이터

In [ ]:
# 데이터 가져오기 
!git clone

In [ ]:
# .Txt file 일기 

txt_file_path = './2022_IDS507_Lab/data/CourseDescription.txt'

with open(txt_file_path,'r', encoding='utf-8') as f:
    lines = f.readlines()

for line in lines:
    print(line)

IDS507-00

Course Description

기본적인 데이터과학적 사고관 없이는 살아남기 어려운 세상,

우리에게 필요한 ‘진짜’ 정보를 습득하고 ‘객관적인’ 의사결정을 위한 데이터과학이 모두에게 필요하다.

 데이터 과학은 단순 통계지식과 프로그래밍의 접목인 일종의 <기술>이 아니라,

세상을 살아가면서 만날 수많은 문제들을 합리적으로 헤쳐나갈 <수단>과 같은 필수요소이다.

본 수업에서는 분야를 막론하고 범람하는 방대한 양의 데이터 처리, 분석, 시각화와 소통을 하기 위한 이론을 학습하고,

 실제 데이터기반 예측모델을 구축하는 Python programming 실습을 진행하며,

비판적인 데이터과학적 사고를 함양하기 위한 다양한 사례들을 탐구한다.

2022년 초 현재 전체 온라인 수업으로 기획되어 있지만, 추후 온/오프라인 전환도 가능하다.

In [ ]:
# txt 저장 
savename_txt = './2022_IDS507_Lab/data/sample_path.txt'
with open(savename_txt, "w") as f:
    f.write('샘플입니다.')

In [ ]:
# txt 저장 
# savename_txt = './2022_IDS507_Lab/data/sample_path.txt'
with open(savename_txt, "a") as f:
    f.write('\n샘플입니다.22')

In [ ]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [ ]:
import csv

filename = './2022_IDS507_Lab/data/sea_line.csv'
with open(filename,'r', encoding='utf-8') as f:
    reader = csv.reader(f)
    for row in reader:
        print(row)

['\ufeff"해역"', '연안정점', '관측일시', '수온', '수온 QC Flag', '기온', '기온 QC', '운량', '천기']
['동해', '기장(12201)', '20190605', '15.4', '2', '24.4', '2', '1%-10%', '']
['동해', '기장(12201)', '20190606', '15.4', '2', '', '2', '', '']
['동해', '기장(12201)', '20190607', '17.4', '2', '19.2', '2', '91%-100%', '비']
['동해', '기장(12201)', '20190608', '17.5', '2', '', '2', '', '']
['동해', '기장(12201)', '20190609', '17.6', '2', '', '2', '', '']
['동해', '기장(12201)', '20190610', '18.1', '2', '20.9', '2', '41%-50%', '']
['동해', '기장(12201)', '20190611', '19', '2', '19.8', '2', '41%-50%', '개임(운량:3-7)']
['남해', '산양(20501)', '20190613', '21', '2', '', '2', '', '']
['남해', '산양(20501)', '20190614', '20.5', '2', '', '2', '', '']
['남해', '산양(20501)', '20190618', '20.7', '2', '', '2', '', '']
['남해', '산양(20501)', '20190619', '20.8', '2', '', '2', '', '']
['남해', '산양(20501)', '20190628', '21.5', '2', '', '2', '', '']
['남해', '산양(20501)', '20190702', '22.4', '2', '', '2', '', '']
['서해', '용유도(31302)', '20190605', '19.7', '2', '18.7', '2', '31%-40%', '흐림(운량:8-10)']
['서해', '용유도(31302)', '20190607', '19', '2', '18.8', '2', '21%-30%', '쾌청(운량:0-2)']
['서해', '용유도(31302)', '20190610', '18.3', '2', '19.5', '2', '81%-90%', '흐림(운량:8-10)']
['서해', '용유도(31302)', '20190611', '18.5', '2', '19.7', '2', 'Zero', '쾌청(운량:0-2)']
['서해', '용유도(31302)', '20190612', '18.8', '2', '20.3', '2', 'Zero', '쾌청(운량:0-2)']
['서해', '용유도(31302)', '20190613', '19.4', '2', '19.8', '2', 'Zero', '쾌청(운량:0-2)']
['서해', '용유도(31302)', '20190614', '19.5', '2', '20.1', '2', '31%-40%', '흐림(운량:8-10)']
['서해', '용유도(31302)', '20190617', '21.6', '2', '20.1', '2', '1%-10%', '쾌청(운량:0-2)']
['서해', '용유도(31302)', '20190618', '19.9', '2', '20.7', '2', '91%-100%', '흐림(운량:8-10)']
['서해', '용유도(31302)', '20190619', '21.2', '2', '21.7', '2', '11%-20%', '쾌청(운량:0-2)']
['서해', '용유도(31302)', '20190620', '21.6', '2', '22.4', '2', '11%-20%', '쾌청(운량:0-2)']
['서해', '용유도(31302)', '20190621', '22.3', '2', '20.9', '2', '71%-80%', '흐림(운량:8-10)']
['서해', '용유도(31302)', '20190624', '20.8', '2', '23.8', '2', 'Zero', '쾌청(운량:0-2)']
['서해', '용유도(31302)', '20190625', '20.9', '2', '19.7', '2', '', '안개(Fog)']
['서해', '용유도(31302)', '20190626', '20.5', '2', '22', '2', '91%-100%', '흐림(운량:8-10)']
['서해', '용유도(31302)', '20190627', '20.9', '2', '23.4', '2', '31%-40%', '개임(운량:3-7)']
['서해', '용유도(31302)', '20190628', '21', '2', '23', '2', '81%-90%', '흐림(운량:8-10)']
['서해', '용유도(31302)', '20190701', '22.7', '2', '22.5', '2', '11%-20%', '쾌청(운량:0-2)']
['서해', '용유도(31302)', '20190702', '23.1', '2', '22.5', '2', 'Zero', '쾌청(운량:0-2)']
['서해', '용유도(31302)', '20190703', '21.9', '2', '20.9', '2', '91%-100%', '흐림(운량:8-10)']
['동해', '주문진(11002)', '20190605', '14.8', '2', '19.5', '2', '61%-70%', '개임(운량:3-7)']
['동해', '주문진(11002)', '20190606', '', '2', '18.7', '2', '91%-100%', '안개(Fog)']
['동해', '주문진(11002)', '20190607', '15.9', '2', '15.9', '2', '91%-100%', '이슬비']
['동해', '주문진(11002)', '20190608', '15.6', '2', '19.6', '2', '51%-60%', '개임(운량:3-7)']
['동해', '주문진(11002)', '20190609', '', '2', '17.6', '2', '91%-100%', '흐림(운량:8-10)']
['동해', '주문진(11002)', '20190610', '12.5', '2', '16.7', '2', '71%-80%', '흐림(운량:8-10)']
['동해', '주문진(11002)', '20190611', '15.8', '2', '16', '2', '91%-100%', '흐림(운량:8-10)']
['동해', '주문진(11002)', '20190612', '17.1', '2', '18', '2', 'Zero', '쾌청(운량:0-2)']
['동해', '주문진(11002)', '20190613', '15.8', '2', '22.4', '2', 'Zero', '쾌청(운량:0-2)']
['동해', '주문진(11002)', '20190614', '15.9', '2', '24.8', '2', '91%-100%', '흐림(운량:8-10)']
['동해', '주문진(11002)', '20190615', '16.8', '2', '19.9', '2', '71%-80%', '흐림(운량:8-10)']
['동해', '주문진(11002)', '20190616', '', '2', '17.1', '2', '91%-100%', '이슬비']
['동해', '주문진(11002)', '20190617', '17.4', '2', '20.6', '2', 'Zero', '쾌청(운량:0-2)']
['동해', '주문진(11002)', '20190618', '17.9', '2', '22.7', '2', '91%-100%', '흐림(운량:8-10)']
['동해', '주문진(11002)', '20190619', '18.8', '2', '25.9', '2', '21%-30%', '개임(운량:3-7)']
['동해', '주문진(11002)', '20190620', '20.1', '2', '25.3', '2', '31%-40%', '개임(운량:3-7)']
['동해', '주문진(11002)', '20190621', '19.1', '2', '21.6', '2', '91%-100%', '흐림(운량:8-10)']
['동해', '주문진(11002)', '20190622', '20.8', '2', '20.9', '2', '1%-10%', '쾌청(운량:0-2)']
['동해', '주문진(11002)', '20190623', '', '2', '20.4', '2', '21%-30%', '개임(운량:3-7)']
['동해', '주문진(11002)', '20190624', '21.4', '2', '21.9', '2', '1%-10%', '쾌청(운량:0-2)']
['동해', '주문진(11002)', '20190625', '18.4', '2', '22.5', '2', 'Zero', '쾌청(운량:0-2)']
['동해', '주문진(11002)', '20190626', '16.4', '2', '24.9', '2', '51%-60%', '개임(운량:3-7)']
['동해', '주문진(11002)', '20190627', '17.1', '2', '23.2', '2', '51%-60%', '개임(운량:3-7)']
['동해', '주문진(11002)', '20190628', '20.8', '2', '20.4', '2', '91%-100%', '이슬비']
['동해', '주문진(11002)', '20190629', '20.9', '2', '20.5', '2', '91%-100%', '이슬비']
['동해', '주문진(11002)', '20190630', '', '2', '25.4', '2', '81%-90%', '흐림(운량:8-10)']
['동해', '주문진(11002)', '20190701', '21.2', '2', '23.3', '2', '71%-80%', '흐림(운량:8-10)']
['동해', '주문진(11002)', '20190702', '20.8', '2', '26.5', '2', '1%-10%', '쾌청(운량:0-2)']
['동해', '주문진(11002)', '20190703', '21.9', '2', '28.7', '2', '21%-30%', '개임(운량:3-7)']
['동해', '주문진(11002)', '20190704', '20.9', '2', '27.8', '2', 'Zero', '쾌청(운량:0-2)']
['동해', '포항(11701)', '20190605', '13.1', '2', '23.5', '2', 'Zero', '']
['동해', '포항(11701)', '20190607', '15.8', '2', '17.8', '2', '91%-100%', '']
['동해', '포항(11701)', '20190610', '15.5', '2', '19.4', '2', '71%-80%', '']
['동해', '포항(11701)', '20190611', '16.8', '2', '18.6', '2', '71%-80%', '']
['동해', '포항(11701)', '20190612', '18.1', '2', '19.5', '2', '61%-70%', '']
['동해', '포항(11701)', '20190613', '18.8', '2', '21.8', '2', 'Zero', '']
['동해', '포항(11701)', '20190614', '19.1', '2', '21.2', '2', '91%-100%', '']
['동해', '포항(11701)', '20190617', '20.1', '2', '22.9', '2', '81%-90%', '']
['동해', '포항(11701)', '20190618', '20.3', '2', '24', '2', '91%-100%', '']
['동해', '포항(11701)', '20190619', '20.5', '2', '26.1', '2', '71%-80%', '쾌청(운량:0-2)']
['동해', '포항(11701)', '20190620', '21', '2', '27.1', '2', 'Zero', '']
['동해', '포항(11701)', '20190621', '21.8', '2', '25.6', '2', '11%-20%', '']
['동해', '포항(11701)', '20190624', '22.8', '2', '23', '2', '11%-20%', '']
['동해', '포항(11701)', '20190625', '23.1', '2', '24.5', '2', 'Zero', '']
['동해', '포항(11701)', '20190626', '22.6', '2', '23.4', '2', '91%-100%', '']
['동해', '포항(11701)', '20190627', '21.5', '2', '23.9', '2', '91%-100%', '']
['동해', '포항(11701)', '20190628', '22.6', '2', '21.2', '2', '91%-100%', '']
['동해', '포항(11701)', '20190701', '21.8', '2', '25.3', '2', '81%-90%', '']
['동해', '포항(11701)', '20190702', '21.7', '2', '26.7', '2', '51%-60%', '']
['동해', '포항(11701)', '20190703', '21.5', '2', '26.4', '2', '71%-80%', '']
['동해', '포항(11701)', '20190704', '21.8', '2', '28.4', '2', 'Zero', '']
['남해', '화양(22001)', '20190605', '20.1', '2', '24.4', '2', 'Zero', '쾌청(운량:0-2)']
['남해', '화양(22001)', '20190607', '20.6', '2', '20', '2', '91%-100%', '흐림(운량:8-10)']
['남해', '화양(22001)', '20190610', '20.4', '2', '19.8', '2', '91%-100%', '흐림(운량:8-10)']
['남해', '화양(22001)', '20190611', '20.1', '2', '19.3', '2', '91%-100%', '흐림(운량:8-10)']
['남해', '화양(22001)', '20190612', '20.9', '2', '20.6', '2', '21%-30%', '개임(운량:3-7)']
['남해', '화양(22001)', '20190613', '20.9', '2', '20.3', '2', '71%-80%', '흐림(운량:8-10)']
['남해', '화양(22001)', '20190626', '21.9', '2', '18.5', '2', '81%-90%', '비']
['남해', '화양(22001)', '20190627', '22.5', '2', '22.4', '2', '91%-100%', '안개(Fog)']
['남해', '화양(22001)', '20190628', '23.6', '2', '24.2', '2', '21%-30%', '개임(운량:3-7)']
['남해', '화양(22001)', '20190701', '22.8', '2', '24.5', '2', '21%-30%', '개임(운량:3-7)']
['남해', '화양(22001)', '20190702', '23.4', '2', '25.4', '2', '71%-80%', '흐림(운량:8-10)']
['남해', '화양(22001)', '20190703', '22.3', '2', '24.4', '2', '91%-100%', '흐림(운량:8-10)']
['남해', '화양(22001)', '20190704', '23.1', '2', '26.7', '2', '21%-30%', '개임(운량:3-7)']

In [ ]:
import pandas as pd

df = pd.read_csv(filename)
df

,해역,연안정점,관측일시,수온,수온 QC Flag,기온,기온 QC,운량,천기
0,동해,기장(12201),20190605,15.4,2,24.4,2,1%-10%,NaN
1,동해,기장(12201),20190606,15.4,2,NaN,2,NaN,NaN
2,동해,기장(12201),20190607,17.4,2,19.2,2,91%-100%,비
3,동해,기장(12201),20190608,17.5,2,NaN,2,NaN,NaN
4,동해,기장(12201),20190609,17.6,2,NaN,2,NaN,NaN
...,...,...,...,...,...,...,...,...,...
92,남해,화양(22001),20190628,23.6,2,24.2,2,21%-30%,개임(운량:3-7)
93,남해,화양(22001),20190701,22.8,2,24.5,2,21%-30%,개임(운량:3-7)
94,남해,화양(22001),20190702,23.4,2,25.4,2,71%-80%,흐림(운량:8-10)
95,남해,화양(22001),20190703,22.3,2,24.4,2,91%-100%,흐림(운량:8-10)
96,남해,화양(22001),20190704,23.1,2,26.7,2,21%-30%,개임(운량:3-7)

In [ ]:
import pandas as pd 

df_excel = pd.read_excel('./2022_IDS507_Lab/data/udong_2015.xlsx')

In [ ]:
df_excel

,유동인구_조사지점정보_2015,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 27,Unnamed: 28,Unnamed: 29,Unnamed: 30,Unnamed: 31,Unnamed: 32,Unnamed: 33,Unnamed: 34,Unnamed: 35,Unnamed: 36
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,조사지점코드,조사지점명,구코드,동코드,주번지,부번지,도로명,보도너비,차선수,버스차로유무,...,지구중심상세내용,도심부도심지역명,용도구분,거주유형구분,입지유형명,X좌표,Y좌표,집계구코드,년도,조사구분
2,EXAMIN_SPOT_CD,EXAMIN_SPOT_NM,GU_CD,DONG_CD,BUNJI,BUBUN,ROAD_NM,FTPTH_BT,TFCLNE,BUS_CARTRK_ENNC_SE,...,DSTRC_CENTER_DETAIL,CDCT_SUB_CDCT_AREA_NM,PRPOS_NM,RESIDE_TY_SE,LCT_TY_NM,XCRD_LC,YCRD_LC,SM_GU_CD,YEAR,EXAMIN_CLS
3,01-003,신흥모피명품전문크리닝.,11010,1101055,127,11,NaN,3,8,유,...,NaN,NaN,2종주거,NaN,NaN,196423.97707,455511.52968,1101055010007,2015,본조사
4,01-004,GS25,11010,1101055,94,2,세검정로 230,3,7,유,...,NaN,NaN,2종주거,NaN,NaN,196315.80243,455621.38262,1101055020005,2015,본조사
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1498,40-020,원서공원 입구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,북촌
1499,40-021,커피 Biwon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,북촌
1500,40-022,용수산 비원점,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,북촌
1501,40-023,한정식 장원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,북촌
1502,40-024,믿음 미용실,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,북촌

In [ ]:
df_excel = pd.read_excel('./2022_IDS507_Lab/data/udong_2015.xlsx',
                         skiprows=[0,1])

In [ ]:
df_excel

,조사지점코드,조사지점명,구코드,동코드,주번지,부번지,도로명,보도너비,차선수,버스차로유무,...,지구중심상세내용,도심부도심지역명,용도구분,거주유형구분,입지유형명,X좌표,Y좌표,집계구코드,년도,조사구분
0,EXAMIN_SPOT_CD,EXAMIN_SPOT_NM,GU_CD,DONG_CD,BUNJI,BUBUN,ROAD_NM,FTPTH_BT,TFCLNE,BUS_CARTRK_ENNC_SE,...,DSTRC_CENTER_DETAIL,CDCT_SUB_CDCT_AREA_NM,PRPOS_NM,RESIDE_TY_SE,LCT_TY_NM,XCRD_LC,YCRD_LC,SM_GU_CD,YEAR,EXAMIN_CLS
1,01-003,신흥모피명품전문크리닝.,11010,1101055,127,11,NaN,3,8,유,...,NaN,NaN,2종주거,NaN,NaN,196423.97707,455511.52968,1101055010007,2015,본조사
2,01-004,GS25,11010,1101055,94,2,세검정로 230,3,7,유,...,NaN,NaN,2종주거,NaN,NaN,196315.80243,455621.38262,1101055020005,2015,본조사
3,01-005,세검정정류장,11010,1101055,92,0,세검정길,4,5,유,...,NaN,NaN,1종주거,NaN,NaN,196357.17125,455680.8258,1101055010002,2015,본조사
4,01-008,안성타워內 굿모닝파워공인중개사.,11010,1101056,72,72,NaN,4,4,유,...,NaN,NaN,2종주거,NaN,NaN,197904.19277,456718.34996,1101056030002,2015,본조사
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1496,40-020,원서공원 입구,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,북촌
1497,40-021,커피 Biwon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,북촌
1498,40-022,용수산 비원점,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,북촌
1499,40-023,한정식 장원,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,북촌
1500,40-024,믿음 미용실,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2015,북촌

In [ ]:
# Make a get request to get the latest position of the international space station from the opennotify api.

import requests
import pandas as pd

response = requests.get("http://api.open-notify.org/astros.json") # request to get 
info= response.json() # info json 

people=info['people']
print(people)

[{'craft': 'ISS', 'name': 'Mark Vande Hei'}, {'craft': 'ISS', 'name': 'Pyotr Dubrov'}, {'craft': 'ISS', 'name': 'Anton Shkaplerov'}, {'craft': 'Shenzhou 13', 'name': 'Zhai Zhigang'}, {'craft': 'Shenzhou 13', 'name': 'Wang Yaping'}, {'craft': 'Shenzhou 13', 'name': 'Ye Guangfu'}, {'craft': 'ISS', 'name': 'Raja Chari'}, {'craft': 'ISS', 'name': 'Tom Marshburn'}, {'craft': 'ISS', 'name': 'Kayla Barron'}, {'craft': 'ISS', 'name': 'Matthias Maurer'}]

In [ ]:
df=pd.DataFrame(people)
df

         craft              name
0          ISS    Mark Vande Hei
1          ISS      Pyotr Dubrov
2          ISS  Anton Shkaplerov
3  Shenzhou 13      Zhai Zhigang
4  Shenzhou 13       Wang Yaping
5  Shenzhou 13        Ye Guangfu
6          ISS        Raja Chari
7          ISS     Tom Marshburn
8          ISS      Kayla Barron
9          ISS   Matthias Maurer

In [ ]:
info.keys()

dict_keys(['people', 'message', 'number'])