# 💻IDS507 | Lab02_practice
<font size=5><b>Pandas 활용한 전처리<b></font>
<div align='right'>TA: 류 회 성(Hoe Sung Ryu)</div>

## Concepts | 오늘 배울 개념
---

- 판다스 기본을 익힌다
  1. 기본구조
  1. 생성
  1. 확인 
  1. 접근
  1. 삭제
  1. 수정 및 연산
  1. 결합

## 📌1.드라이브 연동

In [ ]:
from google.colab import drive # 드라이브 연동
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import os
os.chdir('/content/gdrive/My Drive/IDS507-00/2022_IDS507_Lab') # DataPath 설정

FileNotFoundError: ignored

In [ ]:
!pwd

/content/gdrive/MyDrive/IDS507-00/2022_IDS507_Lab

<img src='/content/gdrive/MyDrive/IDS507-00/2022_IDS507_Lab/imgs/machine_learning_pipline.png'>

## 📌2. 판다스 기본

Python에서 정형 데이터(e.g. 테이블 형식의 데이터)를 쉽게 처리할 수 있는 라이브러리 데이터 분석 시 자주 사용 됨


### 1) 데이터 구조
- index: 데이터 순서
- DataFrame: 데이터의 2차원 표현 
<img src='https://media.geeksforgeeks.org/wp-content/cdn-uploads/creating_dataframe1.png'>

### 2) 데이터 생성

In [ ]:
# import 
import pandas as pd 

# Construct the DataFrame
products_df = pd.DataFrame({'category': ['Cleaning', 'Cleaning', 'Entertainment', 'Entertainment', 'Tech', 'Tech'],
                            'store': ['Walmart', 'Dia', 'Walmart', 'Fnac', 'Dia', 'Walmart'],
                            'price': [11.42, 23.50, 19.99, 15.95, 55.75, 111.55],
                            'testscore': [4, 3, 5, 7, 5, 8]})
products_df

        category    store   price  testscore
0       Cleaning  Walmart   11.42          4
1       Cleaning      Dia   23.50          3
2  Entertainment  Walmart   19.99          5
3  Entertainment     Fnac   15.95          7
4           Tech      Dia   55.75          5
5           Tech  Walmart  111.55          8

---

<div class="alert alert-success">
    <b>예제(Exercise)</b>:
    <ul>
        <li>
        다음 그림과 동일한 데이터프레임을 만드시오.
        </li>
    </ul>
</div>


<img src='https://www.tutorialspoint.com/python_pandas/images/structure_table.jpg'>

### 3) 데이터프레임 확인

- display() : print()와 동일한역할
- df.head() : 시작에서 마지막 까지 불러옴
- df.tail() : 끝에서 시작까지 불러옴

- df.index : 인덱스 array 출력
- df.columns : 컬럼 array 출력
- df.values : 표의 내부 자료 array 출력

- df.describe() : 데이터의 대략적인 통계적 정보 요약
> count(컬럼당 자료 갯수) // mean(컬럼당 평균) // std(컬럼당 표준편차) // min, max, 25%, 50%, 75%
형태 바꾸기
- df.T : 데이터를 전치합니다. ( column과 인덱스 가 서로 바뀌기)

- df.sort_index(axis=1, ascending=False) : 축별로 정렬하기
> axis = 0 : 행 식별 // axis = 1 : 열 식별 // ascending : 오름차순 // df.sort_values(by="B") : 값 별로 정렬

### 4) 데이터프레임 접근

- bracket indexing : column 이름 또는 index 위치 또는 index 이름 를 통해서 접근
- loc : index 이름 을 통해서 접근
- iloc : index 위치 를 통해서 접근
- at : 지정된 행 / 열 쌍에서 값 가져 오기 -> 같은 방식으로 값설정도 가능함
- 조건색인

### 5) 데이터프레임 삭제

- del: 해당 열 삭제
- drop: 해당 행, 열을 삭제

### 6) 수정 및 연산

1.   astype
2.   항목 추가

### 7) 데이터 프레임 결합하기 

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

- concat : pandas 객체를 연결 - 인덱스 이어 붙이기
- join : SQL 방식으로 병합

#### 8) iterrows()

In [ ]:
products_df.columns

Index(['category', 'store', 'price', 'testscore'], dtype='object')

In [ ]:
for i, (category, store, price, testscore) in products_df.iterrows():
  print(category, store, price, testscore)

Cleaning Walmart 11.42 4
Cleaning Dia 23.5 3
Entertainment Walmart 19.99 5
Entertainment Fnac 15.95 7
Tech Dia 55.75 5
Tech Walmart 111.55 8